<div class="table-responsive">
<table class="table table-striped">
	<caption>Control de Funciones Vitales - Triaje</caption>
  <tbody>
    <tr>
      <td class="data-label">TALLA:</td>
      <td class="patient-data">{{ fisico.talla }}</td>
      <td class="data-label">PESO: </td> 
      <td class="patient-data">{{ fisico.peso }}</td>
      <td class="data-label">IMC:</td>
      <td class="patient-data">{{ fisico.imc }}</td>
    </tr>
    <tr>
      <td class="data-label">FR:</td>
      <td class="patient-data">{{ fisico.fr }}</td>
      <td class="data-label">So2:</td>
      <td class="patient-data">{{ fisico.saturacion }}</td>
      <td class="data-label">MAX INSPIRACION:</td>
      <td class="patient-data">{{ fisico.max_inspiracion }}</td>
    </tr>
    <tr>
      <td class="data-label">EXPIRACION FORZADA:</td>
      <td class="patient-data">{{ fisico.expiracion_forzada }}</td>
      <td class="data-label">PAS:</td>
      <td class="patient-data">{{ fisico.pas }}</td>
      <td class="data-label">PAD</td>
      <td class="patient-data">{{ fisico.pad }}</td>
    </tr>
    <tr>
    
      <td class="data-label">FC:</td>
      <td class="patient-data">{{ fisico.fc }}</td>
      <td class="data-label">T:</td>
      <td class="patient-data">{{ fisico.temperatura }}</td>
    </tr>
    <tr>
      <td class="data-label">PERIMETRO TORAXICO:</td>
      <td class="patient-data">{{ fisico.perime_torax }}</td>
      <td class="data-label">PERIMETRO CINTURA:</td>
      <td class="patient-data">{{ fisico.perime_cintu }}</td>
    </tr>
    <tr>
      <td class="data-label">PERIMETRO CADERA:</td>
      <td class="patient-data">{{ fisico.perime_cadera }}</td>
      <td class="data-label">ICC:</td>
      <td class="patient-data">{{ fisico.icc }}</td>
    </tr>
  </tbody>
</table>
</div>
